/*medium...md*/
@media (min-width: 768px) and (max-width: 991.98px) {
   #header{
   height: 400px;
   width: 720px;
  }
  #header .company_name{
   margin-bottom: 10px;
  }
  #header .items h5{
   font-size: 18px;
   padding: 1px 6px 1px 12px;
  }
}
/*small...sm*/
@media (min-width: 576px) and (max-width: 767.98px) {
#header{
height: 280px;
width: 550px;
}
#header .post_name{
padding: 10px 0 0 15px;
}
#header .post_name h6{
   font-size: 12px;
   margin-bottom: 10px;
}
#header .post_name h4{
   font-size: 18px;
   margin-bottom: 0;
}
#header .company_name{
   margin-top: 5px;
   margin-bottom: 5px;
}
#header .company_name .items img{
   height: 50px;
   width: 45px;
}
#header .items{
   margin-right: -17px;
}
#header .items p{
   margin-top: 2px;
}
#header .items h5{
   padding: 1px 5px 1px 8px;
   font-size: 14px;
}
#header .picture img{
   height: 100px;
   width: 100px;
   margin-bottom: 10px;
}
#header .icon ul li{ 
   margin-right: 5px;
}
#header .icon {
   margin-left: -25px;
}
#header .intro{
   margin-top: 20px;
   margin-left: 30px;
}
#header .icon ul{
   margin-top: 10px;
}
#header .intro .contact_items{
   font-size: 11px;
   margin: 3px 0 10px 0;
}
#header .intro .contact_items ul li{
   line-height: 15px;
}
#header .intro .contact_icon ul li a i{
   font-size: 13px;
   height: 30px;
   width: 25px;
   line-height: 30px;
   margin-bottom: 10px;
}
#header .intro .intro_items{
   margin-left: 40px;
}
#header .intro .quote p{
   font-size: 8px;
   margin-top: 10px;
   margin-left: 15px;
}
}
/*extra small....xsm*/
@media(min-width: 350px) and (max-width: 575.98px) {
}